    * {
      margin: 0;
      padding: 0;
      font-family: 'Montserrat', sans-serif !important;
    }

     
     .clear {
        clear: both;
     }

    .logo {
      left: 10%;
      top: 40px;
      line-height: 48px;
      z-index: 1;
      font-family: 'Montserrat';
      font-style: normal;
      font-weight: 800;
      font-size: 22px;
      color: #E3EBF0;
    }

        @media (max-width: 768px) {
          .logo {
            font-size: 15px;
          }
        }

      
    .navbar {
      background-color: transparent;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      z-index: 2;
    }

            @media (max-width:  1280px) {
          .navbar {
           background-color: white;
          }
        }

           @media (max-width: 768px) {
          .navbar {
           background-color: white;
          }
        }
     
    .navbar-light .navbar-nav .nav-link {
        color: #212529;
     }
     
    .navbar .navbar-nav .nav-link:hover {
      color: white;
    }

    .navbar-dark .navbar-nav .nav-link {
        color: #FFFFFF;
     }
     
    .navbar .navbar-nav .nav-link:hover {
      color: black;
    }

      
    .navbar li {
      margin-left: 10%;
      margin-right: -9%;
      font-family: 'Montserrat', sans-serif;
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      text-align: center;
      text-decoration: none;
      padding: 0px 10px 0px 10px;
    }


    .image-container {
      position: relative;
      display: inline-block;
      width: 100%;
      padding-top: 55%;
    }

            @media (max-width: 768px) {
          .image-container {
            display: flex;
            flex-direction: column;
            align-items: center;
            background-color: #687996;
             margin-top: 200px;
          }
        }
      
     .overlay {
       position: absolute;
       margin-left: 11.5%;
       top: 20%;
       font-family: 'Montserrat', sans-serif;
       font-style: normal;
       font-weight: 900;
       font-size: 4vw;
       line-height: 130%;
       color: #E3EBF0;
       z-index: 3;
     }

         @media (max-width: 768px) {
          .overlay {
            font-size: 25px;
            margin-left: 1.5%;
          }
        }

   .btn {
      
}

         @media (max-width: 768px) {
          .btn {
            
          }
        }
    
    .button-container {
      margin-top: 20px;
    }

    .background-image {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }


            @media (max-width: 768px) {
          .background-image {
            display: none;
          }
        }

         @media (max-width: 768px) {
          .cta {
            font-size: 10px;
          }
        }
      
            .container {
            margin-left: 10%;
            margin-right: 10%;
        }
        .image {
            float: left;
            width: 538px;
            height: 750px;
        }
      
        .povijest {
          display: flex;
          flex-direction: column;
          align-items: center;
          background-color: #303C3A;
          margin-top: 80px;
            
        }

             @media (max-width: 768px) {
          .povijest {
            margin: 0px;
            margin-top: 40px;
          }
        }

        .povijest img {
          width: 100%;
          max-width: 538px;
          height: 700px;
          margin-top: 10%;
          margin-bottom: 10%;
        }

             @media (max-width: 768px) {
          .povijest img {
            display: none;
          }
        }


        .povijest h1 {
          margin-left: 10% !important; 
          font-size: 50px;
          color: #C1DAD4;
          font-family: 'Montserrat';
          font-style: normal;
          font-weight: 900;
          margin-top: 10%;
          text-align: left !important;
        }

        .povijest p {
          margin-left: 10% !important; 
          font-size: 18px;
          color: #C1DAD4;
          font-family: 'Montserrat';
          font-style: normal;
          font-weight: 600;
          padding-top: 3%;
          width: 100%;
          max-width: 700px;
          text-align: left !important;
          margin: 0 auto;
        }

      @media (max-width: 768px) {
          .povijest p {
            font-size: 15px;
            margin: 0px;
             width: 80%
          }
        }
     
     .naslov {
        font-style: normal;
        font-weight: 600;
        font-size: 40px;
     }
     
      .cards {
            margin: 60px 10% 0 10%;
        }

/*KONTAKT*/

        .kontakt {
          display: flex;
          flex-direction: column;
          align-items: center;
          background-color: #AD8134;
          padding-top: 70px
            
        }

        .kontakt img {
          width: 100%;
          max-width: 1150px;
          height: auto;
          margin-top: 10%;
          margin-bottom: 10%;
          margin-left: 10%;
        }

        .kontakt h1 {
          margin-left: 10% !important; 
          font-size: 50px;
          color: #FFFFFF;
          font-family: 'Montserrat';
          font-style: normal;
          font-weight: 900;
          margin-top: 10%;
          text-align: left !important;
        }

        .kontakt p {
          margin-left: 10% !important; 
          font-size: 18px;
          color: #FFFFFF;
          font-family: 'Montserrat';
          font-style: normal;
          font-weight: 600;
          padding-top: 3%;
          width: 100%;
          max-width: 700px;
          text-align: left !important;
          margin: 0 auto;
        }

     .naslovl {
        margin-left: 10%;
        margin-top: 60px;
        font-style: normal;
        font-weight: 600;
        font-size: 40px;
        font-family: 'Montserrat', sans-serif !important;
        
     }

    #map-container {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
    }
      
    

